* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

.headerlogos {
    display: flex;
    justify-content: space-between;
    background-color: rgb(31, 34, 53);
    position: fixed;
}

#brand-logo img {
    width: 180px;
    padding-left: 60px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 20px;

}

#headertexts {
    display: flex;
    list-style: none;
    padding-right: 100px;
    padding-left: 455px;
    padding-top: 20px;
    color: white;
    justify-content: space-between;


}

#headertexts a {
    color: white;
    display: flex;
    text-decoration: none;
    font-size: 20px;
    padding: 19px 15px;
}

#headertexts a:hover {
    color: rgb(255, 65, 67)
}

/* Home Page */

.home {
    background-color: rgb(36, 38, 59);
    color: white;
    padding-left: 60px;
    padding-top: 250px;
    display: flex;

}

#innerleftBox .SocialIcon {
    padding-top: 5px;
    padding-left: 10px;
    font-weight: 100px;

}

.SocialIcon {
    margin: 10px;
    padding-top: 20px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    display: inline-block;
    border: solid rgb(255, 65, 67);
    border-radius: 90%;
    border-width: 2.5px;
    width: 49px;
    height: 49px;
    justify-content: center;
    align-items: center;
}

.SocialIcon:hover{
    background-color: rgb(255, 65, 67);   
}



#rightBox img {
    padding-left: 50px;
    margin-top: 50px;
}

.textcontent {
    padding-left: 1.5%;
    padding-top: 20px;
    letter-spacing: 5px;
    font-size: 400%;
    font-weight: 889px;
}

.texts {
    font-size: 25px;
    font-weight: 300%;
    line-height: 39px;
    padding-top: 30px;
    padding-left: 4px;

}

/* Home Button */
.button {
    letter-spacing: 20px;
    padding-top: 50px;
    font-size: 10px;
}

.portfoliobutton {
    border: solid rgb(255, 65, 67);
    border-radius: 40px;
    background-color: rgb(36, 38, 59);
    width: 170px;
    height: 50px;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-weight: 10px;
    text-size-adjust: 10px;
    align-items: center;

}

.portfoliobutton:hover{
    background-color: rgb(255, 65, 67);
}

.ctabutton{
    font-size: 20px;
    width: 90px;
    height: 50px;
}


/* Service Section */
.service{
    background-color: rgb(31,34,53);
    text-align: center;
}

